In [1]:
import pandas as pd
import requests
import selenium
from selenium import webdriver  # Selenium es una herramienta para automatizar la interacción con navegadores web.
from webdriver_manager.chrome import ChromeDriverManager  # ChromeDriverManager gestiona la instalación del controlador de Chrome.
from selenium.webdriver.common.keys import Keys  # Keys es útil para simular eventos de teclado en Selenium.
from selenium.webdriver.support.ui import Select  # Select se utiliza para interactuar con elementos <select> en páginas web.
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException # Excepciones comunes de selenium que nos podemos encontrar 
from bs4 import BeautifulSoup
from time import sleep 
import re
import sys 
import os
sys.path.append(os.path.abspath("../src"))   


import funciones as f

In [22]:
# for mercado in lista_supers:
#     driver = webdriver.Chrome()
#     url_mercados = f"https://super.facua.org/{mercado}/"
#     driver.get(url_mercados)
#     sleep(3)
#     lista_num_producto=[]
    
#     for #aquí quiero meter los productos usando beutiful
#         for num_producto in range(1, len())
#             driver.find_element("css selector", f"body > section:nth-child(4) > div > div.row.gx-4.gx-lg-5.row-cols-2.row-cols-md-3.row-cols-xl-4.justify-content-center > div:nth-child({num_producto}) > div > div.card-footer.p-4.pt-0.border-top-0.bg-transparent > div > a").click()
#             sleep(2)
#             lista_variante_producto=[]
#             for #aqui quiero meter las variantes de producto usando beutiful
#                 for num_variante in range(1, len()):
#                     driver.find_element("css selector", f"body > section:nth-child(4) > div > div:nth-child(7) > div:nth-child({num_variante}) > div > div.card-footer.p-4.pt-0.border-top-0.bg-transparent > div > a").click()
#                 #usar BeautifulSoup para coger la primera tabla y que me la guarde
#                 url_facua = f"https://super.facua.org/{mercadona}/{producto}/{variante}/"
#                 res_facua = requests.get(url_facua)
#                 sopa_mercados = BeautifulSoup(res_facua.content, "html.parser")
#                 lista_mercados = sopa_mercados.findAll("a", {"class" :"nav-link"})

In [16]:
# driver = webdriver.Chrome()
# url_mercados = f"https://super.facua.org/mercadona/"
# driver.get(url_mercados)
# #quitar cookie
# driver.find_element("css selector", "#rcc-confirm-button").click()
# sleep(2)
# url_variante=driver.find_element("css selector", "body > section:nth-child(4) > div > div:nth-child(7) > div:nth-child(1) > div > div.card-footer.p-4.pt-0.border-top-0.bg-transparent > div > a")
# driver.get(url_variante)
# res_variante = requests.get(url_variante)
# sopa_variantes = BeautifulSoup(res_variante.content, "html.parser")
# lista_mercados = sopa_mercados.findAll("table")
# lista_mercados

In [ ]:
def sacar_tabla(tabla_indiv):
    tr_tabla=tabla_indiv.findAll("tr")
    th_tabla = tabla_indiv.findAll("th")
    td_tabla=tabla_indiv.findAll("td")
    df_cuerpo=pd.DataFrame([r.findAll('td') for r in tr_tabla][1:]).map(lambda x: x.text)
    dicc_encabezado=dict(enumerate(pd.DataFrame(th_tabla).T.values[0]))  #enumerate porque coincide el 0,1 y 2 con los titulos de las columnas
    df_tabla= df_cuerpo.rename(dicc_encabezado, axis=1)
    return df_tabla

Sacar lista supers

In [23]:
url_super = "https://super.facua.org/"
res_facua = requests.get(url_super)
sopa_mercados = BeautifulSoup(res_facua.content, "html.parser")
lista_mercados = sopa_mercados.findAll("a", {"class" :"nav-link"})
lista_supers= [mercado.getText().lower() for mercado in lista_mercados]
lista_supers.pop()
lista_supers

['mercadona', 'alcampo', 'carrefour', 'hipercor', 'dia', 'eroski']

In [19]:
for mercado in lista_supers:
    df_tablas= pd.DataFrame()
    driver = webdriver.Chrome()
    url_mercados = f"https://super.facua.org/{mercado}/"
    driver.get(url_mercados)
    sleep(3)
    #aceptar cookie
    driver.find_element("css selector", "#rcc-confirm-button").click()
    #hacer aquí la lista de productos
    res_producto = requests.get(url_mercados)
    sopa_productos = BeautifulSoup(res_producto.content, "html.parser")
    lista_prod = sopa_productos.findAll("p", {"class" :"fw-bolder"})
    lista_productos= [prod.getText().lower().replace(" ", "-") for prod in lista_prod]

    for i, producto in enumerate(lista_productos):
        driver.execute_script("window.scrollBy(0, 500);")
        sleep(2)
        #selecciona producto
        driver.find_element("css selector", f"body > section:nth-child(4) > div > div.row.gx-4.gx-lg-5.row-cols-2.row-cols-md-3.row-cols-xl-4.justify-content-center > div:nth-child({i}) > div > div.card-footer.p-4.pt-0.border-top-0.bg-transparent > div > a").click()
        url_producto = driver.page_source
        #hacer aquí la lista de variantes
        res_variante= requests.get(url_producto)
        sopa_variante = BeautifulSoup(res_variante.content, "html.parser")
        lista_var = sopa_variante.findAll("p", {"class" :"fw-bolder"})
        lista_variantes= [variante.getText().lower().replace(" ", "-").replace(",", "").replace("º","").replace(".","") for variante in lista_var]

        for j ,variante in enumerate(lista_variantes):
            driver.execute_script("window.scrollBy(0, 500);")
            sleep(2)
            #selecciona variante
            driver.find_element("css selector", f"body > section:nth-child(4) > div > div:nth-child(7) > div:nth-child({j}) > div > div.card-footer.p-4.pt-0.border-top-0.bg-transparent > div > a").click()
            url_variante = driver.page_source
            res_facua = requests.get(url_variante)
            sopa_mercados = BeautifulSoup(res_facua.content, "html.parser")
            tabla_general= sopa_mercados.findAll("table")
            tablaindiv=tabla_general[-1]
            #por aquí crear las columnas necesarias usando lista de productos y variante (mercado se pone formateado tal cual)
            df_tablas=pd.concat([df_tablas, f.sacar_tabla(tablaindiv,{mercado},{producto},{variante})])
    
    df_tablas.to_csv(f'datos/datos{mercado}.csv', index=False)

In [ ]:
def sacar_tabla(tabla_indiv, mercado, producto, variante):
    tr_tabla=tabla_indiv.findAll("tr")
    th_tabla = tabla_indiv.findAll("th")
    td_tabla=tabla_indiv.findAll("td")
    df_cuerpo=pd.DataFrame([r.findAll('td') for r in tr_tabla][1:]).map(lambda x: x.text)
    dicc_encabezado=dict(enumerate(pd.DataFrame(th_tabla).T.values[0]))  #enumerate porque coincide el 0,1 y 2 con los titulos de las columnas
    df_tabla= df_cuerpo.rename(dicc_encabezado, axis=1)
    df_tabla["supermercado"]= mercado
    df_tabla["producto"]= producto
    df_tabla["variante"]= variante
    return df_tabla

Sacar lista productos

In [28]:
url_mercados = f"https://super.facua.org/mercadona/"
res_producto = requests.get(url_mercados)
sopa_productos = BeautifulSoup(res_producto.content, "html.parser")
lista_prod = sopa_productos.findAll("p", {"class" :"fw-bolder"})
lista_productos= [mercado.getText().lower().replace(" ", "-") for mercado in lista_prod]
for i, producto in enumerate(lista_productos):
    id_prod= i
    nombre_producto= producto

Aquí creamos la lista de tuplas para añadir las columnas que queremos que hay que multiplicar por la len de la tabla de historico para que ocupe toda la columna

In [4]:
tupla= ("mercado", "producto", "variante")
lista=[tupla for i in range (1,6)]
pd.DataFrame(lista)

dicc_encabezado=dict(enumerate(tupla))  #enumerate porque coincide el 0,1 y 2 con los titulos de las columnas
df_tabla= pd.DataFrame(lista).rename(dicc_encabezado, axis=1)
df_tabla

   mercado  producto  variante
0  mercado  producto  variante
1  mercado  producto  variante
2  mercado  producto  variante
3  mercado  producto  variante
4  mercado  producto  variante

In [30]:
nombre_producto

'leche'

Sacar lista variantes

In [42]:
url_variante = "https://super.facua.org/mercadona/aceite-de-girasol/"
res_variante= requests.get(url_variante)
sopa_variante = BeautifulSoup(res_variante.content, "html.parser")
lista_var = sopa_variante.findAll("p", {"class" :"fw-bolder"})
lista_variantes= [variante.getText().lower().replace(" ", "-").replace(",", "").replace("º","").replace(".","") for variante in lista_var]
for i, variante in enumerate(lista_variantes):
    id_var= i
    nombre_variante= variante

In [43]:
nombre_variante

'aceite-de-girasol-refinado-02-hacendado-5-l'

Prueba de que coja solo la ultima tabla

In [7]:
# df_tablas= pd.DataFrame()
# driver = webdriver.Chrome()
# driver.find_element("css selector", f"body > section:nth-child(4) > div > div:nth-child(7) > div:nth-child(1) > div > div.card-footer.p-4.pt-0.border-top-0.bg-transparent > div > a").click()
# url_variante = driver.page_source
# res_facua = requests.get(url_variante)
# sopa_mercados = BeautifulSoup(res_facua.content, "html.parser")
# tabla_general= sopa_mercados.findAll("table")
# tablaindiv=tabla_general[-1]

In [4]:

df_tablas= pd.DataFrame()
driver = webdriver.Chrome()
url_mercados = f"https://super.facua.org/mercadona/"
driver.get(url_mercados)
sleep(3)
#aceptar cookie
driver.find_element("css selector", "#rcc-confirm-button").click()
#hacer aquí la lista de productos

driver.execute_script("window.scrollBy(0, 500);")
sleep(2)
#selecciona producto
driver.find_element("css selector", f"body > section:nth-child(4) > div > div.row.gx-4.gx-lg-5.row-cols-2.row-cols-md-3.row-cols-xl-4.justify-content-center > div:nth-child({1}) > div > div.card-footer.p-4.pt-0.border-top-0.bg-transparent > div > a").click()

#hacer aquí la lista de variantes


driver.execute_script("window.scrollBy(0, 500);")
sleep(2)
#selecciona variante
driver.find_element("css selector", f"body > section:nth-child(4) > div > div:nth-child(7) > div:nth-child(1) > div > div.card-footer.p-4.pt-0.border-top-0.bg-transparent > div > a").click()
sopa_mercados = BeautifulSoup(driver.page_source, "html.parser")
tabla_general= sopa_mercados.findAll("table")
tablaindiv=tabla_general[-1]
#por aquí crear las columnas necesarias usando lista de productos y variante (mercado se pone formateado tal cual)


df_tablas=pd.concat([df_tablas, f.sacar_tabla(tablaindiv, "mercadona", "aceite","oliva")])

df_tablas

            Día Precio (€) Variación supermercado producto variante
0    12/07/2024       1,45         =    mercadona   aceite    oliva
1    13/07/2024       1,45         =    mercadona   aceite    oliva
2    14/07/2024       1,45         =    mercadona   aceite    oliva
3    15/07/2024       1,45         =    mercadona   aceite    oliva
4    16/07/2024       1,45         =    mercadona   aceite    oliva
..          ...        ...       ...          ...      ...      ...
101  21/10/2024       1,48         =    mercadona   aceite    oliva
102  22/10/2024       1,48         =    mercadona   aceite    oliva
103  23/10/2024       1,48         =    mercadona   aceite    oliva
104  24/10/2024       1,48         =    mercadona   aceite    oliva
105  25/10/2024       1,48         =    mercadona   aceite    oliva

[106 rows x 6 columns]

In [14]:
print(tablaindiv)

<table class="table table-striped table-responsive text-center" style="width:100%"><thead><tr><th scope="col">Día</th><th scope="col">Precio (€)</th><th scope="col">Variación</th></tr></thead><tbody><tr><td>12/07/2024</td><td>1,45</td><td>=</td></tr><tr><td>13/07/2024</td><td>1,45</td><td>=</td></tr><tr><td>14/07/2024</td><td>1,45</td><td>=</td></tr><tr><td>15/07/2024</td><td>1,45</td><td>=</td></tr><tr><td>16/07/2024</td><td>1,45</td><td>=</td></tr><tr><td>17/07/2024</td><td>1,45</td><td>=</td></tr><tr><td>18/07/2024</td><td>1,45</td><td>=</td></tr><tr><td>19/07/2024</td><td>1,45</td><td>=</td></tr><tr><td>20/07/2024</td><td>1,45</td><td>=</td></tr><tr><td>21/07/2024</td><td>1,45</td><td>=</td></tr><tr><td>22/07/2024</td><td>1,45</td><td>=</td></tr><tr><td>23/07/2024</td><td>1,45</td><td>=</td></tr><tr><td>24/07/2024</td><td>1,45</td><td>=</td></tr><tr><td>25/07/2024</td><td>1,45</td><td>=</td></tr><tr><td>26/07/2024</td><td>1,45</td><td>=</td></tr><tr><td>27/07/2024</td><td>1,45</td><td>=</td></tr><tr><td>28/07/2024</td><td>1,45</td><td>=</td></tr><tr><td>29/07/2024</td><td>1,45</td><td>=</td></tr><tr><td>30/07/2024</td><td>1,45</td><td>=</td></tr><tr><td>31/07/2024</td><td>1,45</td><td>=</td></tr><tr><td>01/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>02/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>03/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>04/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>05/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>06/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>07/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>08/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>09/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>10/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>11/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>12/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>13/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>14/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>15/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>16/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>17/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>18/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>19/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>20/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>21/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>22/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>23/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>24/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>25/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>26/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>27/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>28/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>29/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>30/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>31/08/2024</td><td>1,45</td><td>=</td></tr><tr><td>01/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>02/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>03/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>04/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>05/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>06/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>07/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>08/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>09/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>10/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>11/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>12/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>13/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>14/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>15/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>16/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>17/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>18/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>19/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>20/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>21/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>22/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>23/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>24/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>25/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>26/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>27/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>28/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>29/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>30/09/2024</td><td>1,45</td><td>=</td></tr><tr><td>01/10/2024</td><td>1,48</td><td style="color: green;">+0,03 (2,07%)</td></tr><tr><td>02/10/2024</td><td>1,48</td><td>=</td></tr><tr><td>03/10/2024</td><td>1,48</td><td>=</td></tr><tr><td>04/10/2024</td><td>1,48</td><td>=</td></tr><tr><td>05/10/2024</td><td>1,48</td><td>=</td></tr><tr><td>06/10/2024</td><td>1,48</td><td>=</td></tr><tr><td>07/10/2024</td><td>1,48</td><td>=</td></tr><tr><td>08/10/2024</td><td>1,48</td><td>=</td></tr><tr><td>09/10/2024</td><td>1,48</td><td>=</td></tr><tr><td>10/10/2024</td><td>1,48</td><td>=</td></tr><tr><td>11/10/2024</td><td>1,48</td><td>=</td></tr><tr><td>12/10/2024</td><td>1,48</td><td>=</td></tr><tr><td>13/10/2024</td><td>1,48</td><td>=</td></tr><tr><td>14/10/2024</td><td>1,48</td><td>=</td></tr><tr><td>15/10/2024</td><td>1,48</td><td>=</td></tr><tr><td>16/10/2024</td><td>1,48</td><td>=</td></tr><tr><td>17/10/2024</td><td>1,48</td><td>=</td></tr><tr><td>18/10/2024</td><td>1,48</td><td>=</td></tr><tr><td>19/10/2024</td><td>1,48</td><td>=</td></tr><tr><td>20/10/2024</td><td>1,48</td><td>=</td></tr><tr><td>21/10/2024</td><td>1,48</td><td>=</td></tr><tr><td>22/10/2024</td><td>1,48</td><td>=</td></tr><tr><td>23/10/2024</td><td>1,48</td><td>=</td></tr><tr><td>24/10/2024</td><td>1,48</td><td>=</td></tr><tr><td>25/10/2024</td><td>1,48</td><td>=</td></tr></tbody></table>

In [ ]:
tablaindiv=tabla_general[0]
tupla= ("mercadona", "aceite", "girasol")
lista_nuevas_col=[tupla for i in range (1,len(tablaindiv)+1)]

In [3]:
df_tablas

            Día Precio (€) Variación  mercadona  aceite  girasol
0    12/07/2024       1,45         =        NaN     NaN      NaN
1    13/07/2024       1,45         =        NaN     NaN      NaN
2    14/07/2024       1,45         =        NaN     NaN      NaN
3    15/07/2024       1,45         =        NaN     NaN      NaN
4    16/07/2024       1,45         =        NaN     NaN      NaN
..          ...        ...       ...        ...     ...      ...
102  22/10/2024       1,48         =        NaN     NaN      NaN
103  23/10/2024       1,48         =        NaN     NaN      NaN
104  24/10/2024       1,48         =        NaN     NaN      NaN
105  25/10/2024       1,48         =        NaN     NaN      NaN
0           NaN        NaN       NaN  mercadona  aceite  girasol

[107 rows x 6 columns]

In [7]:
pd

In [21]:
sacar_tabla(tablaindiv)

            Día Precio (€) Variación
0    12/07/2024       1,45         =
1    13/07/2024       1,45         =
2    14/07/2024       1,45         =
3    15/07/2024       1,45         =
4    16/07/2024       1,45         =
..          ...        ...       ...
101  21/10/2024       1,48         =
102  22/10/2024       1,48         =
103  23/10/2024       1,48         =
104  24/10/2024       1,48         =
105  25/10/2024       1,48         =

[106 rows x 3 columns]

In [4]:
tabla=tabla[0]

In [ ]:
tr_tabla=tabla.findAll("tr")
th_tabla = tabla.findAll("th")
td_tabla=tabla.findAll("td")

In [16]:
df_cuerpo=pd.DataFrame([r.findAll('td') for r in tr_tabla][1:]).map(lambda x: x.text)
dicc_encabezado=dict(enumerate(pd.DataFrame(th_tabla).T.values[0]))  #enumerate porque coincide el 0,1 y 2 con los titulos de las columnas
df_tabla= df_cuerpo.rename(dicc_encabezado, axis=1)
df_tabla

            Día Precio (€) Variación
0    12/07/2024       1,45         =
1    13/07/2024       1,45         =
2    14/07/2024       1,45         =
3    15/07/2024       1,45         =
4    16/07/2024       1,45         =
..          ...        ...       ...
101  21/10/2024       1,48         =
102  22/10/2024       1,48         =
103  23/10/2024       1,48         =
104  24/10/2024       1,48         =
105  25/10/2024       1,48         =

[106 rows x 3 columns]

In [12]:
dict(enumerate(pd.DataFrame(enunciados).T.values[0]))

{0: 'Día', 1: 'Precio (€)', 2: 'Variación'}